{% extends "admin/base.html" %}

{% load i18n %}
{% load staticfiles %}

<!-- custom filter module -->
{% load admin_extras %}

{% block title %} khufu admin {% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img alt="logo3" src="{% static 'images/logoL.jpg' %}" height="40px" />
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
{% block userlinks %}
    <a href="{{ request|switch_i18n:'en' }}">
        English
    </a> /
    <a href="{{ request|switch_i18n:'ar' }}">
        Arabic
    </a> /
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
