{% extends 'admin/change_list.html' %}
{% load i18n admin_urls static admin_list %}

{% block content %}

    <div id="content-main">
        {% block object-tools %}
            {% if request.META.PATH_INFO == "/admin/products/product/" or request.META.PATH_INFO == "/admin/orders/order/" %}
                <div>
                    <form action="print/" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Print"
                               style="width: 10%; background: green;color: white;cursor: pointer" aria-label="print">
                    </form>
                </div>
            {% endif %}
            <br/>
            {{ block.super }}
        {% endblock %}
        {% if cl.formset and cl.formset.errors %}
            <p class="errornote">
                {% if cl.formset.total_error_count == 1 %}
                    {% trans "Please correct the error below." %}
                {% else %}
                    {% trans "Please correct the errors below." %}
                {% endif %}
            </p>
            {{ cl.formset.non_form_errors }}
        {% endif %}
        <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
            {% block search %}{% search_form cl %}{% endblock %}
            {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}

            {% block filters %}
                {% if cl.has_filters %}
                    <div id="changelist-filter">
                        <h2>{% trans 'Filter' %}</h2>
                        {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                    </div>
                {% endif %}
            {% endblock %}

            <form id="changelist-form" method="post" {% if cl.formset and cl.formset.is_multipart %}
                  enctype="multipart/form-data" {% endif %} novalidate>{% csrf_token %}
                {% if cl.formset %}
                    <div>{{ cl.formset.management_form }}</div>
                {% endif %}

                {% block result_list %}
                    {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
                    {% result_list cl %}
                    {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
                {% endblock %}
                {% block pagination %}{% pagination cl %}{% endblock %}
            </form>
        </div>
    </div>

    {% if request.META.PATH_INFO == "/en/admin/products/product/" or request.META.PATH_INFO == "/en/admin/orders/order/" %}
        <div style="color: darkblue">
            {% if request.user.is_provider %}
                <h3>{% trans 'Total Orders' %} = <b style="color: green">{{ total_quantity }}</b></h3>
                <h3>{% trans 'Total provider price' %} = <b style="color: green">{{ total_provider_price }}</b></h3>
                {% elif request.user.is_superuser or request.user.is_delegate %}
                <h3>{% trans 'Total quantity' %} = <b style="color: green">{{ total_quantity }}</b></h3>
                <h3>{% trans 'Total price' %} = <b style="color: green">{{ total_price }}</b></h3>
                <h3>{% trans 'Total provider price' %} = <b style="color: green">{{ total_provider_price }}</b></h3>
            {% endif %}
        </div>
    {% elif request.META.PATH_INFO == "/ar/admin/products/product/" or request.META.PATH_INFO == "/ar/admin/orders/order/" %}
        <div style="color: darkblue">
            {% if request.user.is_provider %}
                <h3>{% trans 'Total Orders' %} = <b style="color: green">{{ total_quantity }}</b></h3>
                <h3>{% trans 'Total provider price' %} = <b style="color: green">{{ total_provider_price }}</b></h3>
                {% elif request.user.is_superuser or request.user.is_delegate %}
                <h3>{% trans 'Total quantity' %} = <b style="color: green">{{ total_quantity }}</b></h3>
                <h3>{% trans 'Total price' %} = <b style="color: green">{{ total_price }}</b></h3>
                <h3>{% trans 'Total provider price' %} = <b style="color: green">{{ total_provider_price }}</b></h3>
            {% endif %}
        </div>
    {% endif %}


{% endblock %}
