{% load staticfiles %}
<!-- custom filter module -->
{% load admin_extras %}
{% load i18n %}
{% load my_filters %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/product_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/product_responsive.css' %}">

{% if request.LANGUAGE_CODE == 'ar' or request.LANGUAGE_CODE == 'ar-eg' %}
    <!-- Single Product -->
    <div class="single_product" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <!-- Images -->
                <div class="col-lg-2 order-lg-1 order-2">
                    <ul class="image_list">
                        <li data-image="{{ product.main_img.url }}"><img alt="product img"
                                                                         src="{{ product.main_img.url }}">
                        </li>
                        {% for img in imgs %}
                            <li data-image="{{ img.image.url }}"><img alt="product img"
                                                                      src="{{ img.image.url }}"
                                                                      aria-hidden="true"></li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Selected Image -->
                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="image_selected"><img alt="product img" src="{{ product.main_img.url }}"
                                                     aria-hidden="true"></div>
                </div>

                <!-- Description -->
                <div class="col-lg-5 order-3">
                    <div class="product_description" style="padding-right: 22px">
                        <div class="product_category"><a
                                href="/ar/productHome/category/{{ product.category.id }}/">{{ product.category.name_ar }}</a>
                        </div>
                        <div class="product_name">{{ product.name_ar }}</div>
                        <div class="product_category">{% trans 'model' %}: <b>{{ product.model_number }}</b>
                        </div>
                        <div class="product_category">{% trans 'provider' %}:
                            <a><b>{{ product.provider }}</b></a>
                        </div>
                        <div class="rating_r rating_r_5 product_rating">
                            {% for count in product.stars|to_int|times %}
                                <i class="far fa-star" aria-hidden="true"></i>
                            {% endfor %}
                        </div>
                        <div class="product_text">
                            <p> {{ product.short_description_ar }}</p>
                        </div>
                        <div class="order_info">
                            <!-- Product Quantity -->
                            {% if not available_quantity == -1 %}
                                <div class="product_quantity border-radius">
                                    <p style="margin-top: 14px;">{% trans 'Available'  %} = {{ available_quantity }}</p>
                                </div>
                            {% else %}
                                <div class="product_quantity border-radius">
                                    <p style="margin-top: 14px;">{% trans 'Available'  %} = {{ product.max_quantity }}</p>
                                </div>
                            {% endif %}
                            <div class="product_quantity clearfix border-radius">
                                <span>{% trans 'Quantity' %}: </span>
                                <input id="quantity_input" name="quantity" pattern="[0-9]*" value="1"
                                       aria-label="quantity">
                                <div class="quantity_buttons">
                                    <div class="quantity_inc quantity_control" id="quantity_inc_button"><i
                                            class="fa fa-chevron-up" aria-hidden="true"></i></div>
                                    <div class="quantity_dec quantity_control" id="quantity_dec_button"><i
                                            class="fa fa-chevron-down" aria-hidden="true"></i></div>
                                    <input id="productid" type="hidden" value="{{ product.id }}"
                                           aria-label="id">
                                </div>
                                {% if not available_quantity == -1 %}
                                    <input id="avail_quan" type="text" value="{{ available_quantity }}" hidden
                                           aria-label="avail_quan">
                                {% else %}
                                    <input id="avail_quan" type="text" value="{{ product.max_quantity }}" hidden
                                           aria-label="avail_quan">
                                {% endif %}
                            </div>

                            <!-- Product Specifications -->
                            <br>
                            <div class="form-group" id="specs-parent" style="width:50%;">
                                {% if spec_values_list %}
                                    {% for spec in spec_values_list %}
                                        <div class="specs">
                                            <label for="s{{ forloop.counter0 }}"
                                                   id="{{ spec.first.spec_name|capfirst }}">{% trans 'Select' %} {{ spec.first.spec_name.spec_name_ar|capfirst }}:</label>
                                            <select class="form-control" id="s{{ forloop.counter0 }}">
                                                {% for spec_value in spec %}
                                                    <option>{{ spec_value.spec_value }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <!-- Product Price -->
                            {% if request.session.site_info.country_short == "EG" %}
                                {% if discount %}
                                    <div class="product_price">
                                        {{ product.price|price_discount:discount.discount }} {% trans 'EGP' %}
                                    </div>
                                    <div class="">{% trans 'Discount' %}: <b
                                            style="color: yellowgreen">{{ discount.discount }}%</b>
                                    </div>
                                    <div class="old_price">{{ product.price }} {% trans 'EGP' %}</div>
                                {% else %}
                                    <div class="product_price">{{ product.price }} {% trans 'EGP' %}</div>
                                {% endif %}
                            {% else %}
                                {% with dollar_rate=request.session.site_info.dollar_rate %}
                                    {% if discount %}
                                        <div class="product_price">
                                            ${{ product.price|price_discount:discount.discount|convert_money:dollar_rate }}
                                            <span style="color:yellowgreen;font-size: 20px"> USD</span>
                                        </div>
                                        <div class="">Discount: <b
                                                style="color: yellowgreen">{{ discount.discount }}%</b>
                                        </div>
                                        <div class="old_price">
                                            ${{ product.price|convert_money:dollar_rate }}
                                            <span style="color:yellowgreen"> {% trans 'USD' %}</span>
                                        </div>
                                    {% else %}
                                        <div class="product_price">
                                            ${{ product.price|convert_money:dollar_rate }}
                                            <span style="color:yellowgreen;font-size: 20px"> {% trans 'USD' %}</span>
                                        </div>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}


                            <!-- Add to Cart -->
                            <div class="button_container">
                                <a data-toggle="modal" href="#exampleModalCenter">
                                    <button class="button cart_button border-radius login-btn"
                                            onclick="addCookie()">{% trans 'Add to Cart' %}
                                    </button>
                                </a>
                                <div class="product_fav"><i class="fa fa-heart" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Long Description -->
    <div class="highlights">
        <div class="container">
            <h4 class="" style="color: green">{% trans 'Description' %}</h4><br>
            <div>
                <img src="{{ product.long_desc_img.url }}" alt="product long desc img">
            </div>
        </div>
    </div>

    <!-- specifications -->
    {% if spec_values %}
        <div class="specifications">
            <div class="container">
                <h4 class="" style="color: green">{% trans 'Specifications' %}</h4>
                <ul class="">
                    {% for spec in spec_values %}
                        <li>
                            <b>{{ spec.spec_name.spec_name_ar }}</b>: <span>{{ spec.spec_value_ar }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <br>
    <!-- **** Contact Area Start **** -->
    <section class="rehomes-support-and-contact-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <!-- Leave A Reply -->
                    <div class="rehomes-contact-form mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <!-- Title -->
                        <div class="support-title">
                            <h3 style="color: green">{% trans 'Has An Inquiry About That Product' %} !</h3>
                        </div>
                        <!-- Form -->
                        <form method="POST" class='support-form' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12" style="margin-bottom: 15px">
                                    {{ email_form.name }}
                                </div>
                                <div class="col-12" style="margin-bottom: 15px">
                                    {{ email_form.email }}
                                </div>
                                <div class="col-12">
                                    {{ email_form.message }}
                                </div>
                                <input type="text" name="productId" value="{{ product.id }}" hidden
                                       aria-label=" aria-label=" star"">
                                <input type="text" name="productName" value="{{ product.name }}"
                                       aria-label="product name"
                                       style="display: none">
                                <div class="col-12" style="margin-top: 5px">
                                    <button type="submit"
                                            class="btn login-btn border-radius">{% trans 'Send Messages' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- **** Contact Area End **** -->
    <!-------------------------------------------------------------------->
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade-in"
         id="exampleModalCenter"
         role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Added Successfully.' %}</h5>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <a href="{{ request.META.PATH_INFO }}">
                        <button class="btn border-radius login-btn" type="button">{% trans 'Continue Shopping' %}</button>
                    </a>
                    <a href="/ar/order/">
                        <button class="btn btn-success border-radius" type="button">{% trans 'Go To Cart' %}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------->
{% else %}
    <!-- Single Product -->
    <div class="single_product">
        <div class="container">
            <div class="row">
                <!-- Images -->
                <div class="col-lg-2 order-lg-1 order-2">
                    <ul class="image_list">
                        <li data-image="{{ product.main_img.url }}"><img alt="product img"
                                                                         src="{{ product.main_img.url }}">
                        </li>
                        {% for img in imgs %}
                            <li data-image="{{ img.image.url }}"><img alt="product img"
                                                                      src="{{ img.image.url }}">
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <!-- Selected Image -->
                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="image_selected"><img alt="product img" src="{{ product.main_img.url }}"
                                                     aria-hidden="true"></div>
                </div>

                <!-- Description -->
                <div class="col-lg-5 order-3">
                    <div class="product_description">
                        <div class="product_category"><a
                                href="/en/productHome/category/{{ product.category.id }}/">{{ product.category }}</a>
                        </div>
                        <div class="product_name">{{ product.name }}</div>
                        <div class="product_category">{% trans 'model' %}: <b>{{ product.model_number }}</b>
                        </div>
                        <div class="product_category">{% trans 'provider' %}:
                            <a><b>{{ product.provider }}</b></a>
                        </div>
                        <div class="rating_r rating_r_5 product_rating">
                            {% for count in product.stars|to_int|times %}
                                <i class="far fa-star" aria-hidden="true"></i>
                            {% endfor %}
                        </div>
                        <div class="product_text">
                            <p> {{ product.short_description }} </p>
                        </div>
                        <div class="order_info">
                            <div class="clearfix">
                                <!-- Product Quantity -->
                                {% if not available_quantity == -1 %}
                                    <div class="product_quantity border-radius"><p style="margin-top: 14px;">{% trans 'Available'  %} = {{ available_quantity }}</p></div>
                                {% else %}
                                    <div class="product_quantity border-radius"><p style="margin-top: 14px;">{% trans 'Available'  %} = {{ product.max_quantity }}</p></div>
                                {% endif %}

                                <div class="product_quantity clearfix border-radius">
                                    <span>{% trans 'Quantity' %}: </span>
                                    <input id="quantity_input" name="quantity" pattern="[0-9]*" value="1"
                                           aria-label="quantity">
                                    <div class="quantity_buttons">
                                        <div class="quantity_inc quantity_control" id="quantity_inc_button"><i
                                                class="fa fa-chevron-up" aria-hidden="true"></i></div>
                                        <div class="quantity_dec quantity_control" id="quantity_dec_button"><i
                                                class="fa fa-chevron-down" aria-hidden="true"></i></div>
                                        <input id="productid" type="hidden" value="{{ product.id }}"
                                               aria-label="id">
                                    </div>
                                    {% if not available_quantity == -1 %}
                                        <input id="avail_quan" type="text" value="{{ available_quantity }}"
                                               hidden
                                               aria-label="available_quantity">
                                    {% else %}
                                        <input id="avail_quan" type="text" value="{{ product.max_quantity }}"
                                               hidden aria-label="available_quantity">
                                    {% endif %}
                                </div>
                                <!-- Product Specifications -->

                                <div class="form-group" id="specs-parent" style="width:50%;">
                                    {% if spec_values_list %}
                                        {% for spec in spec_values_list %}
                                            <div class="specs">
                                                <label for="s{{ forloop.counter0 }}"
                                                       id="{{ spec.first.spec_name|capfirst }}">Select {{ spec.first.spec_name|capfirst }}:</label>
                                                <select class="form-control" id="s{{ forloop.counter0 }}">
                                                    {% for spec_value in spec %}
                                                        <option>{{ spec_value.spec_value }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                                <!-- Product Price -->
                                {% if request.session.site_info.country_short == "EG" %}
                                    {% if discount %}
                                        <div class="product_price">
                                            {{ product.price|price_discount:discount.discount }} EGP
                                        </div>
                                        <div class="">Discount: <b
                                                style="color: yellowgreen">{{ discount.discount }}%</b>
                                        </div>
                                        <div class="old_price">{{ product.price }} {% trans 'EGP' %}</div>
                                    {% else %}
                                        <div class="product_price">{{ product.price }} {% trans 'EGP' %}</div>
                                    {% endif %}
                                {% else %}
                                    {% with dollar_rate=request.session.site_info.dollar_rate %}
                                        {% if discount %}
                                            <div class="product_price">
                                                ${{ product.price|price_discount:discount.discount|convert_money:dollar_rate }}
                                                <span style="color:yellowgreen;font-size: 20px"> USD</span>
                                            </div>
                                            <div class="">Discount: <b
                                                    style="color: yellowgreen">{{ discount.discount }}%</b>
                                            </div>
                                            <div class="old_price">
                                                ${{ product.price|convert_money:dollar_rate }}
                                                <span style="color:yellowgreen"> {% trans 'USD' %}</span>
                                            </div>
                                        {% else %}
                                            <div class="product_price">
                                            wika - {{ discount }}
                                                ${{ product.price|convert_money:dollar_rate }}
                                                <span style="color:yellowgreen;font-size: 20px"> {% trans 'USD' %}</span>
                                            </div>
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}

                                <!-- Add to Cart -->
                                <div class="button_container">
                                    <a data-toggle="modal" href="#exampleModalCenter">
                                        <button class="button cart_button login-btn border-radius" onclick="addCookie()">Add to Cart
                                        </button>
                                    </a>
                                    <div class="product_fav"><i class="fa fa-heart"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="highlights">
        <div class="container">
            <h4 class="">Long Description</h4><br>
            <div>
                <img src="{{ product.long_desc_img.url }}" alt="product long desc img">
            </div>
        </div>
    </div>

    <!-- specifications -->
    {% if spec_values %}
        <div class="specifications">
            <div class="container">
                <h4 class="">Specifications</h4>
                <ul class="">
                    {% for spec in spec_values %}
                        <li>
                            <b>{{ spec.spec_name }}</b>: <span>{{ spec.spec_value }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
    <br>
    <!-- **** Contact Area Start **** -->
    <section class="rehomes-support-and-contact-area section-padding-80-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <!-- Leave A Reply -->
                    <div class="rehomes-contact-form mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <!-- Title -->
                        <div class="support-title">
                            <h3 style="color: green">{% trans 'Has An Inquiry About That Product' %} !</h3>
                        </div>
                        <!-- Form -->
                        <form method="POST" class='support-form' enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12" style="margin-bottom: 15px">
                                    {{ email_form.name }}
                                </div>
                                <div class="col-12" style="margin-bottom: 15px">
                                    {{ email_form.email }}
                                </div>
                                <div class="col-12">
                                    {{ email_form.message }}
                                </div>
                                <input type="text" name="productId" value="{{ product.id }}"
                                       style="display: none"
                                       aria-label="id">
                                <input type="text" name="productName" value="{{ product.name }}"
                                       style="display: none" aria-label="product name">
                                <div class="col-12" style="margin-top: 5px">
                                    <button type="submit" class="btn login-btn border-radius">Send Messages</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- **** Contact Area End **** -->
    <!-------------------------------------------------------------------->
    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade-in"
         id="exampleModalCenter"
         role="dialog"
         tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{% trans 'Added Successfully.' %}</h5>
                </div>
                <div class="modal-body" style="text-align: center;">
                    <a href="{{ request.META.PATH_INFO }}">
                        <button class="btn login-btn border-radius" type="button">{% trans 'Continue Shopping' %}</button>
                    </a>
                    <a href="/en/order/">
                        <button class="btn btn-success border-radius" type="button">{% trans 'Go To Cart' %}</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------->
{% endif %}
<script src="{% static 'js/product.js' %}"></script>