{% load staticfiles %}
<script src="{% static 'js/get_site_info.js' %}"></script>
<!-- Insex -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.js"
        integrity="sha384-KlVcf2tswD0JOTQnzU4uwqXcbAy57PvV48YUiLjqpk/MJ2wExQhg9tuozn5A1iVw"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/product_custom.js' %}"></script>
<script src="{% static 'js/pageLoader.js' %}"></script>
{#<script src="{% static 'js/music.js' %}"></script>#}

<script src="{% static 'js/search_bar.js' %}"></script>