{% extends "account/profile_base.html" %}
{% load staticfiles %}
<!-- custom filter module -->
{% load admin_extras %}
{% load i18n %}

{% block change_password %}

    <!-- Add Address Book -->
    <div class="text-center" style="color:green;">
        <h1><b>{% trans 'Change Password' %}</b></h1>
    </div>
    <div class="card container">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 style="color: green">
                        <span>{% trans 'Verify' %} - {% trans 'Modify Account Password' %}</span>
                        <i class="fa fa-eye-slash show-password" onclick="togglePass();" id="eye"></i></h4>
                    <hr>
                </div>
                <div class="col-md-6">
                    <h4 style="color: green">{% trans 'Password' %} - {% trans 'Constraints' %}</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div class="form-group row text-center">
                            <label for="new" class="col-4 col-form-label">{% trans 'New Password' %}</label>
                            <div class="col-8">
                                <input id="new" name="new_pass" type="password" minlength="8" maxlength="30"
                                       class="form-control text-center border-radius"
                                       placeholder="{% trans 'Enter Your New Password' %}" required>
                            </div>
                        </div>
                        <div class="form-group row text-center">
                            <label for="confirm" class="col-4 col-form-label">{% trans 'Confirm Password' %}</label>
                            <div class="col-8">
                                <input id="confirm" name="confirm_pass" type="password" minlength="8" maxlength="30"
                                       class="form-control text-center border-radius"
                                       placeholder="{% trans 'Confirm Your New Password' %}" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="offset-4 col-8">
                                <button name="submit" id="changePasswordBtn" type="button"
                                        class="btn btn-success border-radius"
                                        style="width:100%">
                                    {% trans 'Change' %}
                                </button>
                                <span id="invalid_span"
                                      class="password-not-match">* {% trans 'Confirm Not Matched New' %}.</span>
                                <span id="valid_span" class="password-match">{% trans 'Password Matched' %}.</span>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="alert alert-danger border-radius">
                        <b>1-</b><span
                            class="alert-link"> {% trans 'Your password must be between 8 and 30 characters' %}</span>.<br>
                        <b>2-</b><span
                            class="alert-link"> {% trans 'Your password must not contain extra white spaces' %}</span>.<br>

{#                        <b>2-</b><span#}
{#                            class="alert-link"> {% trans 'Your password must contain at least one uppercase letter' %}</span>.<br>#}
{#                        <b>3-</b><span#}
{#                            class="alert-link"> {% trans 'Your password must contain at least one lowercase letter' %}</span>.<br>#}
{#                        <b>4-</b><span#}
{#                            class="alert-link"> {% trans 'Your password must contain at least one number digit' %}</span>.<br>#}
{#                        <b>5-</b>#}
{#                        <span class="alert-link"> {% trans 'our password must contain at least one special character' %}</span>.#}
                    </div>
                </div>
            </div>

        </div>
    </div>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                {{ message.tags }}<br>
                {{ message }}
                <script type="text/javascript">
                    notifyMe('{{ message.tags }}' +'\n' + '{{ message }}');
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
    <script src="{% static 'js/change_password.js' %}"></script>
{% endblock %}
